[Desktop Entry]
Type=Application
Name=Telamon App
Comment=Telamon app template
Exec=telamon-app-template
Icon=net.eterneon.telamon.apptemplate
Terminal=false
Categories=Qt;KDE;System;
StartupNotify=true
